@model JobOA.Model.MajorTask

@{
    ViewBag.Title = "JobOA—新增主任务";
    Layout = "~/Views/Shared/AdminViewMaster.cshtml";
}

<div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">新增主任务</strong> / <small>Add Major Task</small></div>
</div>

<div style="margin:10px;">
    @using (Html.BeginForm("AddMajorTask", "AdminTask", FormMethod.Post))
    {
        <div class="am-nbfc am-margin">
            @Html.LabelFor(model => model.Name, new {@class="am-fl" })
            @Html.TextBoxFor(m => m.Name, new { @class = "am-fl", placeholder = "输入主任务名" })
            <em class="am-text-danger">@Html.ValidationMessageFor(m => m.Name)</em>
        </div>
    <div class="am-margin">
        <label for="ArrangePersonId">安排人：</label>
        @{
        var departmentList = ViewBag.departmentList;
        ViewData["list"] = departmentList;
        }
        <div class="department am-inline-block">@Html.Editor("department", "ListBox")</div>
        @{
        var employeeList = ViewBag.employeeList;
        ViewData["list"] = employeeList;
        }
        <div class="am-inline-block">@Html.EditorFor(m => m.ArrangePersonId, "ListBox")</div>
        <em class="am-text-danger">@Html.ValidationMessageFor(m => m.ArrangePersonId)</em>
    </div>
    <div class="am-margin">
        <label for="ExePersonId">执行人：</label>
        @{
        ViewData["list"] = departmentList;
        }
        <div class="department am-inline-block">@Html.Editor("department", "ListBox")</div>
        @{
        ViewData["list"] = employeeList;
        }
        <div class="am-inline-block">@Html.EditorFor(m => m.ExePersonId, "ListBox")</div>
        <em class="am-text-danger">@Html.ValidationMessageFor(m => m.ExePersonId)</em>
    </div>
    <div class="am-margin">
        <label for="CheckPersonId">检查（验收）人：</label>
        @{
        ViewData["list"] = departmentList;
        }
        <div class="department am-inline-block">@Html.Editor("department", "ListBox")</div>
        @{
        ViewData["list"] = employeeList;
        }
        <div class="am-inline-block">@Html.EditorFor(m => m.CheckPersonId, "ListBox")</div>
        <em class="am-text-danger">@Html.ValidationMessageFor(m => m.CheckPersonId)</em>
    </div>
    <div class="am-margin">
        <label for="CheckPersonId">参与人（可以多人）：</label>
        @{
        ViewData["list"] = departmentList;
        }
        <div class="department am-inline-block">@Html.Editor("department", "ListBox")</div>
        @{
        ViewData["list"] = employeeList;
        }
        <div class="am-inline-block">@Html.EditorFor(m => m.Participator, "Selected")</div>
        <em class="am-text-danger">@Html.ValidationMessageFor(m => m.Participator)</em>
    </div>
    <div class="am-margin">
        @Html.LabelFor(model => model.StartTime)
        <div class="am-inline-block">
            @Html.EditorFor(model => model.StartTime,"DatePicker")
        </div>
        <em class="am-text-danger">@Html.ValidationMessageFor(model => model.StartTime)</em>
    </div>
    <div class="am-margin">
        @Html.LabelFor(model => model.CompleteTime)
        <div class="am-inline-block">
            @Html.EditorFor(model => model.CompleteTime, "DatePicker")
        </div>
        <em class="am-text-danger">@Html.ValidationMessageFor(model => model.CompleteTime)</em>
    </div>
        <div class="am-margin">
            @Html.LabelFor(m=>m.State)
            @{
        ViewData["list"] = ViewBag.state;
            }
            <div class="am-inline-block">@Html.EditorFor(m => m.State, "ListBox")</div>
            <em class="am-text-danger">@Html.ValidationMessageFor(m => m.State)</em>
        </div>
    <div class="am-margin">
        @Html.LabelFor(m=>m.ProjectId)：
        @{
        ViewData["list"] = ViewBag.projectList;
        }
        <div class="am-inline-block">@Html.EditorFor(m=>m.ProjectId, "ListBox")</div>
        <em class="am-text-danger">@Html.ValidationMessageFor(m => m.ProjectId)</em>
    </div>
        <div class="am-nbfc am-margin">
            <label for="IsSecrecy" class="am-fl">是否对非参与人员保密：</label>
            @Html.CheckBoxFor(m => m.IsSecrecy, new { @class = "am-fl" })
            <em class="am-text-danger">@Html.ValidationMessageFor(m => m.IsSecrecy)</em>
        </div>
        <div class="am-form-group am-margin" style="height:100px;">
            <button type="submit" class="am-btn am-btn-primary">创建主任务</button>
            <button type="reset" class="am-btn am-btn-default">重置输入</button>
        </div>
    }
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/datePicker/WdatePicker.js"></script>
    <script type="text/javascript" src="~/Scripts/js/modal.js"></script>
    <script type="text/javascript" src="~/Scripts/js/addMajorTask.js"></script>
}
