@using JobOA.Model
@using JobOA.Model.ViewModel

@{
    ViewBag.Title = "JobOA—任务管理";
    Layout = "~/Views/Shared/AdminViewMaster.cshtml";

    List<Project> projectList = ViewBag.Project??new List<Project>();
    List<Department> departmentList = ViewBag.Department ?? new List<Department>();
    List<MajorTask> majorTaskList = ViewBag.MajorTask;
    Pager pager = ViewBag.Pager;
    string[] remarks = pager.Remarks.Split(',');//查询条件
    int projectId = Convert.ToInt32(remarks[0]);
    int departmentId = Convert.ToInt32(remarks[1]);
    string search = remarks[2];
    string nowProject = String.Empty;//当前项目名
    string nowDepartment = String.Empty;//当前部门名
}


@section scripts{
    <script src="@Url.Content("~/Scripts/js/modal.js")"></script>
    <script src="@Url.Content("~/Scripts/js/majorTaskManager.js")"></script>
}
<input type="hidden" id="mess" value="@TempData["Mess"]"/>
<div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">所有主任务</strong> / <small>All Primary Task</small></div>
</div>

<div class="am-g">
    <div class="am-u-sm-12 am-u-lg-4 am-margin-top-sm am-margin-bottom-sm">
        项目：
        <select id="project" data-am-selected="{searchBox:1,btnStyle: 'success',btnSize: 'sm',dropUp:0,maxHeight: 200}">
            @foreach (Project project in projectList)
            {
                if (projectId == project.Id)
                {
                    nowProject = project.Name;
                    <option selected="selected" value="@project.Id">@project.Name</option>
                }
                else
                {
                    <option value="@project.Id">@project.Name</option>
                }
            }
        </select>
    </div>
    <div class="am-u-sm-12 am-u-lg-4 am-margin-top-sm am-margin-bottom-sm">
        部门：
        <select id="department" data-am-selected="{searchBox:1,btnSize: 'sm',btnStyle: 'success',dropUp:0,maxHeight: 200}">
            @foreach (Department department in departmentList)
            {
                if (departmentId == department.Id)
                {
                    nowDepartment = department.Name;
                    <option selected="selected" value="@department.Id">@department.Name</option>
                }
                else
                {
                    <option value="@department.Id">@department.Name</option>
                }
            }
        </select>
    </div>
    <div class="am-u-sm-12 am-u-md-6 am-u-lg-4 am-margin-top-sm am-margin-bottom-sm">
        <div class="am-input-group  am-input-group-sm">
            <input id="search-text" type="text" value="@search" class="am-form-field" placeholder="请输入任务名">
            <span class="am-input-group-btn">
                <button id="search-btn" class="am-btn am-btn-success" type="button">搜索</button>
            </span>
        </div>
    </div>
</div>

<div class="am-g">
    <div class="am-u-sm-12">
        <button onclick="javascript: location.href = '/AdminTask/AddMajorTask';" type="button" class="am-btn am-btn-secondary am-btn-sm"><span class="am-icon-plus"></span> 新增主任务</button>
    </div>
</div>

<div class="am-g">
    <div class="am-u-sm-12">
        <div class="am-panel am-panel-primary am-margin-top">
            <header class="am-panel-hd">
                <h3 class="am-panel-title">@nowProject 项目的 @nowDepartment 部门的主任务</h3>
            </header>
            <!--<div class="am-panel-bd"></div>-->
            <ul class="am-list">
                @foreach (MajorTask majorTask in majorTaskList)
                {
                    <li class="am-padding">
                        <h4>@majorTask.Name</h4>
                        <em>ID:<span class="majortask-id">@majorTask.Id</span></em>
                        <section class="am-g">
                            <span class="am-u-sm-12 am-u-lg-4">执行人：
                            <img src="@majorTask.ExeEmployee.HeadPicture" width="20" height="20"/>
                            @majorTask.ExeEmployee.RealName
                            </span>
                            <span class="am-u-sm-12 am-u-lg-4">安排人：
                                <img src="@majorTask.ArrangeEmployee.HeadPicture" width="20" height="20" />
                            @majorTask.ArrangeEmployee.RealName</span>
                            <span class="am-u-sm-12 am-u-lg-4">检查（验收）人：
                                <img src="@majorTask.CheckEmployee.HeadPicture" width="20" height="20" />
                            @majorTask.CheckEmployee.RealName</span>
                            <span class="am-u-sm-12 am-u-lg-12">
                                参与人：
                                @{
                    string[] ids = majorTask.Participator.Split(',');
                    Html.RenderAction("GetParticipatorInfo", new { employeeIds = ids });
                                }
                            </span>
                        </section>
                        <section class="am-g">
                            <span class="am-u-sm-12 am-u-lg-4">创建时间：@majorTask.CreateTime</span>
                            <span class="am-u-sm-12 am-u-lg-4">开始时间：@majorTask.StartTime</span>
                            <span class="am-u-sm-12 am-u-lg-4">结束时间：@majorTask.CompleteTime</span>
                            <span class="am-u-sm-12 am-u-lg-4 am-u-end">实际完成时间：@majorTask.CommitTime</span>
                        </section>
                        <section class="am-g">
                            <div class="am-u-sm-12 am-u-lg-6 am-margin-top-xs">
                                附件：@majorTask.Attachment
                                @if (majorTask.Attachment == null)
                                {
                                    <span>暂无附件</span>
                                }
                                else { 
                                    <button type="button" class="am-btn am-btn-default am-btn-xs"><span class="am-icon-download"></span>下载附件</button>
                                }
                            </div>
                            <div class="am-u-sm-12 am-u-lg-6 am-margin-top-xs">
                                <span class="am-block am-fl">操作：</span>
                                <div class="am-btn-toolbar am-fl">
                                    <div class="am-btn-group am-btn-group-xs">
                                        <button class="update-record am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 编辑</button>
                                        <button class="lookup-subtask am-btn am-btn-default am-btn-xs"><span class="am-icon-tasks"></span> 子任务</button>
                                        <button class="del-record am-btn am-btn-default am-btn-xs am-text-danger"><span class="am-icon-trash-o"></span> 删除</button>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="am-margin-top-xs">
                            @{ViewData["state"] = majorTask.State;}
                            任务状态：@Html.Display("progressState", "ProgressState")
                            <div class="am-progress am-margin-0">
                                <div class="am-progress-bar am-progress-bar-secondary" style="width: 57%">57%</div>
                            </div>
                        </section>
                    </li>
                }
            </ul>
            <footer class="am-panel-footer">@nowProject 项目的 @nowDepartment 部门的主任务</footer>
        </div>
        @Html.Display("pager","Pager")
        <hr />
        <p>注：.....</p>
    </div>
</div>