@using JobOA.Model
<!DOCTYPE html>
<!--[if lte IE 7 ]><html class="no-js ie lte7 lte8 lte9 "><![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8 lte8 lte9 "><![endif]-->
<!--[if IE 9 ]><html class="no-js ie ie9 lte9 "><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Job OA 全称Job Office animation 利用技术手段提高公司工作安排、下达、执行、提交、汇报、审核、验收的办事效率">
    <meta name="keywords" content="Job, OA, 办事, 办公, 工作效率, Office, Animation, 技术手段, 工作安排, 工作下达,工作执行, 工作提交, 工作汇报, 工作审核,工作验收">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>@ViewBag.Title</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/Content/images/oaui/oa.ico")">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="@Url.Content("~/Scripts/assets/css/amazeui.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Scripts/assets/css/amaze.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Scripts/assets/css/admin.css")">
    @RenderSection("css", required: false)
</head>
<body class="amz-index" data-amui="2.x">
    <!--[if lte IE 9 ]>
      <div class="am-alert am-alert-danger ie-warning" data-am-alert>
      <button type="button" class="am-close">&times;</button>
      <div class="am-container">
        OA系统提醒：你的浏览器太古董了，妹子无爱，
      <a href="http://browsehappy.com/" target="_blank">速速点击换一个</a>！</div></div>
    <![endif]-->
    <header class="am-topbar admin-header">
        <div class="am-topbar-brand">
            <a href="/"><strong>JobOA</strong> <small>辅助办公</small></a>
        </div>

        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

        <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

            <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
                <li><a href="javascript:;"><span class="am-icon-envelope-o"></span> 收件箱 <span class="am-badge am-badge-warning">5</span></a></li>
                <li class="am-dropdown" data-am-dropdown>
                    <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                        @{
                            Employee employee = Session["user"] as Employee;
                            if (employee != null)
                            {
                                string[] headPic;
                                headPic = employee.HeadPicture.Split(',');
                                <img id="head-picture" src="@headPic[0]" alt="头像" width="40" height="40" class="am-img-thumbnail am-circle" />
                                @employee.RealName
                            }
                        }
                          <span class="am-icon-caret-down"></span>
                    </a>
                    <ul class="am-dropdown-content">
                        <li><a href="#"><span class="am-icon-user"></span> 资料</a></li>
                        <li><a href="#"><span class="am-icon-cog"></span> 设置</a></li>
                        <li><a href="#"><span class="am-icon-power-off"></span> 退出</a></li>
                    </ul>
                </li>
                <li class="am-hide-sm-only"><a href="javascript:;" id="admin-fullscreen"><span class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li>
            </ul>
        </div>
    </header>

    <div class="am-cf admin-main">
        <!-- sidebar start -->
        <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
            <div class="am-offcanvas-bar admin-offcanvas-bar">
                <ul class="am-list admin-sidebar-list">
                    <li><a href="/AdminHome/Index"><span class="am-icon-home"></span>首页</a></li>
                    <li><a href="/AdminProject/Index"><span class="am-icon-pencil-square-o"></span>公司项目管理</a></li>
                    <li class="admin-parent">
                        <a class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span class="am-icon-file"></span>任务管理 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                        <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav">
                            <li><a href="/AdminTask/Index" class="am-cf"><span class="am-icon-check"></span>所有任务<span class="am-icon-star am-fr am-margin-right admin-icon-yellow"></span></a></li>
                            <li><a href="/AdminTask/Index?lookupType=0"><span class="am-icon-puzzle-piece"></span>我的任务<span class="am-badge am-badge-secondary am-margin-right am-fr">24</span></a></li>
                            <li><a href="/AdminTask/Index?lookupType=1"><span class="am-icon-th"></span>安排的任务</a></li>
                        </ul>
                    </li>
                    <li class="admin-parent">
                        <a class="am-cf" data-am-collapse="{target: '#collapse-nav1'}"><span class="am-icon-file"></span>个人信息管理 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                        <ul class="am-list am-collapse admin-sidebar-sub" id="collapse-nav1">
                            <li><a href="/PersonalInfo/Information" class="am-cf"><span class="am-icon-check"></span>个人资料</a></li>
                            <li><a href="/PersonalInfo/UpdatePassword"><span class="am-icon-puzzle-piece"></span>修改密码</a></li>
                            <li><a href="/PersonalInfo/Inbox"><span class="am-icon-puzzle-piece"></span>收件箱</a></li>
                        </ul>
                    </li>
                    <li class="admin-parent">
                        <a class="am-cf" data-am-collapse="{target: '#collapse-nav2'}"><span class="am-icon-file"></span>行政管理 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                        <ul class="am-list am-collapse admin-sidebar-sub" id="collapse-nav2">
                            <li><a href="/Administration/Index" class="am-cf"><span class="am-icon-check"></span>部门信息</a></li>
                            <li><a href="/Administration/Mine"><span class="am-icon-puzzle-piece"></span>员工信息</a></li>
                            <li><a href="/Administration/Mine"><span class="am-icon-puzzle-piece"></span>角色信息</a></li>
                            <li><a href="/Administration/Arrange"><span class="am-icon-th"></span>报表统计</a></li>
                        </ul>
                    </li>
                    <li class="admin-parent">
                        <a class="am-cf" data-am-collapse="{target: '#collapse-nav3'}"><span class="am-icon-file"></span>系统管理 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                        <ul class="am-list am-collapse admin-sidebar-sub" id="collapse-nav3">
                            <li><a href="/AdminTask/Index" class="am-cf"><span class="am-icon-bug"></span>系统日志</a></li>
                            <li><a href="/AdminTask/Mine"><span class="am-icon-puzzle-piece"></span>系统界面信息</a></li>
                            <li><a href="/AdminTask/Arrange"><span class="am-icon-calendar"></span>信息发送维护</a></li>
                        </ul>
                    </li>
                    <li><a href="admin-form.html"><span class="am-icon-pencil-square-o"></span>附件管理</a></li>
                    <li><a href="/Account/SignOut"><span class="am-icon-sign-out"></span>注销</a></li>
                </ul>

                <div class="am-panel am-panel-default admin-sidebar-panel">
                    <div class="am-panel-bd">
                        <p><span class="am-icon-bookmark"></span> 公告</p>
                        <p>时光静好，与君语；细水流年，与君同。—— Amaze UI</p>
                    </div>
                </div>

                <div class="am-panel am-panel-default admin-sidebar-panel">
                    <div class="am-panel-bd">
                        <p><span class="am-icon-tag"></span> wiki</p>
                        <p>Welcome to the Amaze UI wiki!</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- sidebar end -->
        <!-- content start -->
        <div class="admin-content">
            @RenderBody()
        </div>
        <!-- content end -->
    </div>

    <a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

    <footer>
        <hr>
        <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
    </footer>
    <!--[if (gte IE 9)|!(IE)]><!-->
    @Scripts.Render("~/bundles/jquery")
    <!--<![endif]-->
    <!--[if lt IE 9]>
        <script src="@Url.Content("~/assets/js/jquery.min.js")"></script>
        <script src="@Url.Content("~/Scripts/assets/js/modernizr.js")"></script>
        <script src="@Url.Content("~/Scripts/assets/js/amazeui.ie8polyfill.min.js")"></script>
    <![endif]-->
    <script src="@Url.Content("~/Scripts/assets/js/amazeui.min.js")"></script>
    <script src="@Url.Content("~/Scripts/assets/js/app.js")"></script>
    <script src="@Url.Content("~/Scripts/js/masterHeadPicture.js")"></script>
    @RenderSection("scripts", required: false)
</body>
</html>