@using JobOA.Model.ViewModel

@{
    Pager pager = ViewData["Pager"] as Pager;
    string action=ViewContext.RouteData.Values["action"] as string;
    string controller = ViewContext.RouteData.Values["controller"] as string;
    string prev = pager.HasPrev ? "" : "class=am-disabled";
    string next = pager.HasNext ? "" : "class=am-disabled";
}
<div class="am-cf">
    当前 @pager.PageIndex / @pager.PageCount 页&nbsp;&nbsp; 共 @pager.Total 条记录
    <div class="am-fr">
        <ul class="am-pagination">
            <li><a href="/@controller/@action?pageIndex=1&search=@pager.Remarks">|&lt;&lt;</a></li>
            <li @prev><a href="/@controller/@action?pageIndex=@(Convert.ToString(pager.PageIndex-1))&search=@pager.Remarks">&lt;&lt;</a></li>
            @for (int i = pager.Start; i <= pager.End; i++)
            {
                if (pager.PageIndex == i)
                {
                    <li class="am-active"><a href="/@controller/@action?pageIndex=@i&search=@pager.Remarks">@i</a></li>
                }
                else
                {
                    <li><a href="/@controller/@action?pageIndex=@i&search=@pager.Remarks">@i</a></li>
                }
            }
            <li @next><a href="/@controller/@action?pageIndex=@(Convert.ToString(pager.PageIndex+1))&search=@pager.Remarks">&gt;&gt;</a></li>
            <li><a href="/@controller/@action?pageIndex=@Convert.ToString(pager.PageCount)&search=@pager.Remarks">&gt;&gt;|</a></li>
        </ul>
    </div>
</div>