@model List<JobOA.Model.Project>
@using JobOA.Model
@using JobOA.Model.ViewModel

@{
    ViewBag.Title = "JobOA—公司项目管理主页";
    Layout = "~/Views/Shared/AdminViewMaster.cshtml";
    Pager pager = ViewData["Pager"] as Pager;
}

@section css{
    <link href="@Url.Content("~/Content/css/adminHome.css")" rel="stylesheet" type="text/css" />
}

@section scripts{
    <script src="@Url.Content("~/Scripts/js/modal.js")"></script>
    <script src="@Url.Content("~/Scripts/js/adminProject.js")"></script>
}
<div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">公司项目</strong> / <small>Project</small></div>
</div>

<div class="am-g">
    <div class="am-u-sm-12 am-u-md-6">
        <div class="am-btn-toolbar">
            <div class="am-btn-group am-btn-group-xs">
                <button id="add-project" type="button" class="am-btn am-btn-default"><span class="am-icon-plus"></span> 新增</button>
            </div>
        </div>
    </div>
    <div class="am-u-sm-12 am-u-md-3">
        <div class="am-input-group am-input-group-sm">
            <input id="search-text" type="text" class="am-form-field" placeholder="按项目名模糊搜索" value="@pager.Remarks"/>
            <span class="am-input-group-btn">
                <button id="search-btn" class="am-btn am-btn-default" type="button">搜索</button>
            </span>
        </div>
    </div>
</div>
<input id="mess" type="hidden" value="@TempData["mess"]"/>
<div class="am-g">
    <div class="am-u-sm-12">
        <table class="am-table am-table-bd am-table-striped admin-content-table">
            <thead>
                <tr>
                    <th class="am-hide-sm-only">ID</th>
                    <th>项目名</th>
                    <th class="am-hide-sm-only" style="width:30%">项目简述</th>
                    <th>完成状态</th>
                    <th style="width:20%">实时进度</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Project project in Model)
                {
                    <tr>
                        <td class="am-hide-sm-only">@project.Id</td>
                        <td>@project.Name</td>
                        <td class="am-hide-sm-only">@project.Description</td>
                        <td>
                            @{ViewData["state"] = project.State;}
                            @Html.Partial("DisplayTemplates/ProgressState")
                        </td>
                        <td>
                            <div class="am-progress am-progress-striped am-progress-sm am-active">
                                <div class="am-progress-bar am-progress-bar-warning" style="width: 82%">82%</div>
                            </div>
                        </td>
                        <td>
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <button class="update-project am-btn am-btn-default am-text-secondary"><span class="am-icon-pencil-square-o"></span> 编辑</button>
                                    <button class="del-project am-btn am-btn-default am-text-danger"><span class="am-icon-trash-o"></span> 删除</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                }     
                <tr>
                    <td class="am-hide-sm-only">2</td>
                    <td>风清扬</td>
                    <td class="am-hide-sm-only"><a href="#">公司LOGO设计</a> </td>
                    <td>已完成</td>
                    <td>
                        <div class="am-progress am-progress-striped am-progress-sm">
                            <div class="am-progress-bar am-progress-bar-success" style="width: 100%">100%</div>
                        </div>
                    </td>
                    <td>
                        <div class="am-btn-toolbar">
                            <div class="am-btn-group am-btn-group-xs">
                                <button class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 编辑</button>
                                <button class="am-btn am-btn-default am-btn-xs am-text-danger"><span class="am-icon-trash-o"></span> 删除</button>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="am-hide-sm-only">3</td>
                    <td>詹姆斯</td>
                    <td class="am-hide-sm-only"><a href="#">开发一款业务数据软件</a></td>
                    <td>未完成</td>
                    <td>
                        <div class="am-progress am-progress-striped am-progress-sm am-active">
                            <div class="am-progress-bar am-progress-bar-warning" style="width: 25%">25%</div>
                        </div>
                    </td>
                    <td>
                        <div class="am-btn-toolbar">
                            <div class="am-btn-group am-btn-group-xs">
                                <button class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 编辑</button>
                                <button class="am-btn am-btn-default am-btn-xs am-text-danger"><span class="am-icon-trash-o"></span> 删除</button>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="am-hide-sm-only">4</td>
                    <td>云适配</td>
                    <td class="am-hide-sm-only"><a href="#">适配所有网站</a></td>
                    <td>验收不通过</td>
                    <td>
                        <div class="am-progress am-progress-striped am-progress-sm am-active">
                            <div class="am-progress-bar am-progress-bar-danger" style="width: 90%">90%</div>
                        </div>
                    </td>
                    <td>
                        <div class="am-btn-toolbar">
                            <div class="am-btn-group am-btn-group-xs">
                                <button class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 编辑</button>
                                <button class="am-btn am-btn-default am-btn-xs am-text-danger"><span class="am-icon-trash-o"></span> 删除</button>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="am-hide-sm-only">5</td>
                    <td>呵呵呵</td>
                    <td class="am-hide-sm-only"><a href="#">基兰会获得BUFF</a></td>
                    <td>终止</td>
                    <td>
                        <div class="am-progress am-progress-striped am-progress-sm">
                            <div class="am-progress-bar am-progress-bar-success" style="width: 82%">82%</div>
                        </div>
                    </td>
                    <td>
                        <div class="am-btn-toolbar">
                            <div class="am-btn-group am-btn-group-xs">
                                <button class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 编辑</button>
                                <button class="am-btn am-btn-default am-btn-xs am-text-danger"><span class="am-icon-trash-o"></span> 删除</button>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        @Html.Partial("DisplayTemplates/Pager")
        <hr />
        <p>注：.....</p>
    </div>

</div>


